*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html{
  overflow-x: hidden;
}

.container{
  margin-top: 50px;
  display: flex;
  width: 100vw;
  position: absolute;
  top: 0;
  max-height: calc(100vh - 50px);
}

.navbar{
  width: 100vw;
  height: 50px;
  background-color: black;
}

.sidebar{
  width: 400px;
  /* width: 600px; */
  border: 1px solid black;
  padding: 10px;
  height: calc(100vh - 50px);
  background-color: rgb(43, 42, 42);
}

.edit-mode{
  width: calc(100vw - 400px);
  position: absolute;
  right: 0;
  height: calc(100vh - 50px);
  background-color: rgba(32, 32, 32, 0.89);
}

.wrapper-for-themes{
  padding: 10px;
  border: 1px solid rgba(94, 93, 93, 0.692);
  max-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow-y: auto;
  column-gap: 10px;
  row-gap: 10px;
  border-radius: 3px;
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.404);
  background-color: black;
  border-radius: 5px;
}

.wrapper-for-themes button{
  padding: 30px;
  cursor: pointer;
  width: 150px;
  height: 100px;
}

.theme-text{
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 10px;
  color: ghostwhite;
  letter-spacing: .1rem;
  margin-top: 20px;
}

.edit-mode{
  display: flex;
  justify-content: center;
  align-items: center;
}

.document{
  /* width: 600px;
  height: 400px; */

  width: 700px;
  height: 500px;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background-image: url('../themes/theme1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow:hidden;
}

.wrapper-for-names{
  width: 400px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.wrapper-for-themes button:hover{
  outline: 1px solid white;
}

.name-one{
  display: flex;
  flex-direction: column;
}

.line{
  width: 100px;
  background-color: rgba(0, 0, 0, 0.575);
  height: 1px;
}

.name-two{
  display: flex;
  flex-direction: column;
}

.text1{
  font-size: 2.5rem;
  margin-bottom: 10px;
  margin-top: 20px;
  line-height: 2.5rem;
  /* max-width: 70%; */
  margin: 0 auto;
  font-family: cursive;
  font-weight: bolder;
  color: #87cefa;
  /* text-align: center; */
}

.text2{
  font-size: 1rem;
  margin-bottom: 5px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(56, 56, 56);
}

.text3{
  font-size: 2rem;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.text4{
  color: rgb(56, 56, 56);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-bottom: 10px;
  font-size: 1rem;
  max-width: 50%;
}

.text5, .text6{
  color: rgb(56, 56, 56);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-bottom: 10px;
  font-weight: bold;
}

.text-inputs-wrapper{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.each-input-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 10px;
  background-color: black;
  padding: 10px;
  border-radius: 5px;
}

.input{
  padding: 15px 0px 15px 10px;
  font-size: 1rem;
  width: 100%;
  border-radius: 3px;
  border: none;
  outline: none;
  color: rgb(56, 56, 56);
  height: 100%;
}

.input:focus{
  outline: 2px dashed rgba(244, 244, 245, 0.452);
}

.input-number{
  width: 100%;
  height: 100%;
  font-size: 1rem;
  background-color: black;
  border: 1px solid ghostwhite;
  outline: 1px solid ghostwhite;
  color: ghostwhite;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 3px;
}

.input-color{
  width: 100%;
  height: 100%;
  background-color: black;
  border: 1px solid ghostwhite;
  outline: 1px solid ghostwhite;
  color: ghostwhite;
  cursor: pointer;
  border-radius: 3px;
}

select{
  background-color: black;
  border: 1px solid ghostwhite;
  outline: 1px solid ghostwhite;
  color: ghostwhite;
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
  padding: 7px;
  border-radius: 3px;
}

label{
  color: ghostwhite;
  font-family: sans-serif;
  font-weight: bold;
  margin-bottom: 5px;
}

.theme1{
  background-image: url('../themes/theme1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;
}

.theme2{
  background-image: url('../themes/theme2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;
}

.print-btn{
  width: 100%;
  background-color: rgb(137, 241, 137);
  padding: 15px;
  font-size: 1.3rem;
  cursor: pointer;
  color: black;
  font-weight: bold;
  font-family: cursive;
  margin-top: 10px;
}

.print-btn:hover{
  background-color: rgb(104, 212, 104);
}

.reset-btn{
  width: 100%;
  background-color: rgb(231, 75, 75);
  padding: 15px;
  font-size: 1.3rem;
  cursor: pointer;
  color: black;
  font-weight: bold;
  font-family: cursive;
  margin-top: 20px;
}

.reset-btn:hover{
  background-color: rgb(240, 112, 112);
}

.textarea1{
  background-color: transparent;
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 10px;
  margin-top: 20px;
  line-height: 2.5rem;
  /* max-width: 80%; */
  font-family: cursive;
  font-weight: bolder;
  color: #87cefa;
  border: none;
  outline: none;
  overflow:hidden;
  /* position: absolute; */
}

.textarea2{
  font-size: 1rem;
  margin-bottom: 5px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(56, 56, 56);
  text-align: center;
  border: none;
  outline: none;
  overflow: hidden;
}

.border{
  display: inline-block;
  text-align: center;
  padding: 0px;
  resize: both;
  cursor: nwse-resize; 
  position: relative;
}

.drag-icon{
  width: 30px;
  height: 30px;
  position: absolute;
  cursor:grab;
  top: -40px;
  background-color: rgba(224, 220, 220, 0.651);
}