*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html{
  overflow-x: hidden;
}

.container{
  margin-top: 50px;
  display: flex;
  width: 100vw;
  position: absolute;
  top: 0;
  max-height: calc(100vh - 50px);
}

.navbar{
  width: 100vw;
  height: 50px;
  background-color: black;
}

.sidebar{
  /* width: 400px; this was 400 for canvas */
  width: 400px;
  border: 1px solid black;
  padding: 10px;
  height: calc(100vh - 50px);
  background-color: rgb(43, 42, 42);
  overflow-y: auto;
}

.edit-mode{
  width: calc(100vw - 400px);
  height: calc(100vh - 50px);
  position: absolute;
  right: 0;
  background-color: rgba(32, 32, 32, 0.89);
  overflow-y: auto;
}

.wrapper-for-themes{
  padding: 10px;
  border: 1px solid rgba(94, 93, 93, 0.692);
  max-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow-y: auto;
  column-gap: 10px;
  row-gap: 10px;
  border-radius: 3px;
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.404);
  background-color: black;
  border-radius: 5px;
}

.wrapper-for-themes button{
  padding: 30px;
  cursor: pointer;
  width: 150px;
  height: 100px;
}

.theme-text{
  font-size: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 10px;
  color: ghostwhite;
  letter-spacing: .1rem;
  margin-top: 20px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.edit-mode{
  display: flex;
  justify-content: center;
  align-items: center;
}

.document{
  /* width: 600px;
  height: 400px; */
  display: none;
  width: 700px;
  height: 500px;
  background-color: white;
  /* display: flex; */
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background-image: url('../themes/theme1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow:hidden;
}

.wrapper-for-names{
  width: 400px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.wrapper-for-themes button:hover{
  outline: 2px dashed ghostwhite;
}

.text-inputs-wrapper{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.each-input-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 10px;
  background-color: black;
  padding: 10px;
  border-radius: 5px;
}

.input{
  padding: 15px 0px 15px 10px;
  font-size: 1rem;
  width: 100%;
  border-radius: 3px;
  border: none;
  outline: none;
  color: rgb(56, 56, 56);
  height: 100%;
}

.input:focus{
  outline: 2px dashed rgba(244, 244, 245, 0.452);
}

.input-number{
  width: 100%;
  height: 100%;
  font-size: 1rem;
  background-color: black;
  border: 1px solid ghostwhite;
  outline: 1px solid ghostwhite;
  color: ghostwhite;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 3px;
}

.input-color{
  width: 100%;
  height: 100%;
  background-color: black;
  border: 1px solid ghostwhite;
  outline: 1px solid ghostwhite;
  color: ghostwhite;
  cursor: pointer;
  border-radius: 3px;
}

select{
  background-color: black;
  border: 1px solid ghostwhite;
  outline: 1px solid ghostwhite;
  color: ghostwhite;
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
  padding: 7px;
  border-radius: 3px;
}

label{
  color: ghostwhite;
  margin-bottom: 5px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  letter-spacing: .05em;
}

.theme1{
  background-image: url('../themes/theme1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;
}
.theme2{
  background-image: url('../themes/theme2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;
}

.activeTheme{
  outline: 2px dashed ghostwhite;
}

.print-btn{
  width: 100%;
  background-color: rgb(137, 241, 137);
  padding: 15px;
  font-size: 1.3rem;
  cursor: pointer;
  color: black;
  margin-top: 10px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  letter-spacing: .05em;
}

.print-btn:hover{
  background-color: rgb(104, 212, 104);
}

.reset-btn{
  width: 100%;
  background-color: rgb(231, 75, 75);
  padding: 15px;
  font-size: 1.3rem;
  cursor: pointer;
  color: black;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  letter-spacing: .05em;
  margin-top: 20px;
}

.reset-btn:hover{
  background-color: rgb(240, 112, 112);
}


